<div class="view cheatsheet" ng-controller="CheatsheetController" ng-init="initialize()">
    <!--

cheatsheet

-->
    <div class="inner">
        <h4 class="title">Markdown Basics</h4>
        <div class="" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:cheatsheet">
            <dl>
                <dt>Headings</dt>
                <dd>
                    <p>You can create a heading by adding one or more <kbd>#</kbd> symbols before your heading text. The number of <kbd>#</kbd> you use will determine the size of the heading.</p>
                    <pre># The largest heading (an <code>&lt;h1&gt;</code> tag)</br>## The second largest heading (an <code>&lt;h2&gt;</code> tag)</br>…</br>###### The 6th largest heading (an <code>&lt;h6&gt;</code> tag)</br></pre>
                </dd>
                <dt>Paragraphs</dt>
                <dd>
                    <p>Paragraphs in Markdown are just one or more lines of consecutive text followed by one or more blank lines.</p>
                    <pre>On July 2, an alien mothership entered Earth's orbit and deployed several dozen saucer-shaped "destroyer" spacecraft, each 15 miles (24 km) wide.<br><br>On July 3, the Black Knights, a squadron of Marine Corps F/A-18 Hornets, participated in an assault on a destroyer near the city of Los Angeles.</pre>
                </dd>
                <dt>Blockquotes</dt>
                <dd>
                    <p>You can indicate blockquotes with a <kbd>&gt;</kbd>.</p>
                    <pre>In the words of Abraham Lincoln:<br>&gt; Pardon my french</pre>
                </dd>
                <dt>Styling text</dt>
                <dd>
                    <p>You can make text <b>bold</b> or <i>italic</i>.</p>
                    <pre>*This text will be italic*<br>**This text will be bold**</pre>
                    <p>Both <b>bold</b> and <i>italic</i> can use either a <kbd>*</kbd> or an <kbd>_</kbd> around the text for styling. This allows you to combine both bold and italic if needed.</p>
                    <pre>**Everyone _must_ attend the meeting at 5 o'clock today.**</pre>
                </dd>
                <dt>Unordered lists</dt>
                <dd>
                    <p>You can make an unordered list by preceding list items with either a <kbd>*</kbd> or a <kbd>-</kbd>.</p>
                    <pre>* Item<br>* Item<br>* Item<br><br>- Item<br>- Item<br>- Item</pre>
                </dd>
                <dt>Ordered lists</dt>
                <dd>
                    <p>You can make an ordered list by preceding list items with a number.</p>
                    <pre>1. Item 1<br>2. Item 2<br>3. Item 3</pre>
                </dd>
            </dl>
        </div>
    </div>
</div>
<!-- endof cheatsheet -->
