<div class="view sidebar" ng-controller="SidebarController" ng-init="initialize()">
<!--

explorer

-->
    <div class="menu btn-group" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" dropdown-toggle ng-disabled="disabled">
            <span>{{$ldim}}project.name{{$rdim}}&nbsp;<span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" ng-click="openModalNewProject()">Ouvrir un dossier...</a>
            </li>
            <li class="divider" ng-if="projects"></li>
            <li ng-repeat="project in projects">
                <a href="#" ng-click="openProject(project.path)">
                    <button type="button" class="close" aria-label="Close" ng-click="removeProject(project.path)">&times;</button>
                    <span>{{$ldim}}project.name{{$rdim}}</span> - <small>{{$ldim}}project.path{{$rdim}}</small>
                </a>
            </li>
        </ul>
    </div>

    <div class="explorer">
        <ul class="files">
            <li ng-repeat="document in project.items" ng-include="'projectTree'"></li>
        </ul>
    </div>

</div>
<!-- endof explorer -->
