<div class="view sidebar" ng-controller="SidebarController" ng-init="initialize()">
<!--

explorer

-->
    <div class="menu btn-group" dropdown>
        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" dropdown-toggle ng-disabled="disabled">
            <span>{{$ldim}}current.name{{$rdim}}&nbsp;<span class="caret"></span></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" ng-click="openModalNewProject()">Importer...</a>
            </li>
            <li class="divider" ng-if="projects"></li>
            <li ng-repeat="project in projects">
                <a href="#" class="clearfix">
                    <span class="close pull-left" aria-label="Close" ng-click="removeProject($index)">&times;</span>
                    <span type="button" aria-label="project.path" ng-click="openProject(project)">
                        <span>{{$ldim}}project.name{{$rdim}}</span> - <small>{{$ldim}}project.path{{$rdim}}</small>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div class="explorer" ng-scrollbar rebuild-on-resize rebuild-on="rebuild:sidebar">
        <ul class="files" ng-controller="SidebarTreeController">
            <li ng-repeat="document in $parent.current.files" ng-include="'sidebar/tree.html'"></li>
        </ul>
    </div>

</div>
<!-- endof explorer -->
