<!--

toolbar

-->
<nav class="logo col-sm-3 col-md-3">
    <a href="/" class="octicon mega-octicon octicon-repo"></a>
</nav>
<nav class="tools col-sm-9 col-md-9" ng-controller="PreferencesController">
    <a href="#" popover-placement="bottom" popover-class="user-popover" popover-template="preferencesPopover.templateUrl" class="octicon octicon-settings"></a>
    <a href="https://github.com/sixertoy/readmepad" class="octicon octicon-octoface"></a>
</nav>
<!-- endof toolbar -->
