<!--

toolbar

-->
<nav class="logo pull-left">
    <a href="/" class="octicon mega-octicon octicon-markdown"></a>
</nav>
<nav class="tools pull-right" ng-controller="PreferencesController">
    <a href="#" popover-placement="bottom" popover-class="user-popover" popover-template="preferencesPopover.templateUrl" class="octicon octicon-settings"></a>
</nav>
<!-- endof toolbar -->
