<!--

editors

-->
<div class="view viewer col-md-9" ng-controller="ViewerController">

    <div class="menu col-md-10">
        <div class="btn-group">
            <label class="btn btn-primary btn-sm" ng-click="" ng-model="radioModel" btn-radio="'Right'">HTML</label>
            <label class="btn btn-primary btn-sm" ng-click="" ng-model="radioModel" btn-radio="'Left'">Raw</label>
        </div>
    </div>

    <div class="menu col-md-2" >
        <label class="btn btn-danger btn-sm btn-block disabled" ng-click="" ng-model="singleModel">Save</label>
    </div>

    <div class="editors col-md-12">
        <div id="markdown-editor" ui-ace="{useWrapMode: true, mode: 'markdown', onChange: aceChanged}" ng-readonly="checked" ng-show="edit" ng-model="markdownSrv.raw"></div>
        <div id="markdown-viewer" ng-hide="edit" ng-bind-html="markdownSrv.html"></div>
    </div>

</div>
<!-- endof editors -->
