<script type="text/ng-template" id="preferences-popover.html">
    <h4 class="title clearfix">
        <span class="octicon octicon-tools"></span>
        <span>Preferences</span>
    </h4>
    <p class="form-group">
        <label class="checkbox-inline right nice-toggler">
            <input type="checkbox" name="theme-switcher" ng-model="preferencesPopover.theme" ng-click="switchTheme()">
            <span></span>
        </label>
        <span>Dark Theme</span>
    </p>
</script>
