<script type="text/ng-template" id="sidebar/tree.html">
    <a href-hyperlink="document.fullpath" class="file" ng-if="!document.files">
        <span>{{$ldim}}document.name{{$rdim}}</span>
    </a>
    <a href class="folder" ng-if="document.files" ng-click="openProjectSubfolder(document)">
        <span class="octicon octicon-triangle-right" ng-class="{'octicon-triangle-down': document.active, 'octicon-triangle-right': !document.active }"></span>
        <span>{{$ldim}}document.name{{$rdim}}</span>
    </a>
    <ul class="list" ng-if="document.files" ng-show="document.active">
        <li ng-repeat="document in document.files" ng-include="'sidebar/tree.html'"></li>
    </ul>
</script>
