<script type="text/ng-template" id="RenameProjectModal.html">
    <div class="container-fluid">
        <div class="modal-header">
            <h3 class="modal-title">Renommer</h3>
        </div>
        <div class="modal-body">
            <form name="projectForm">
                <div class="form-group" ng-class="{ 'has-error': projectForm.project_name.$invalid }">
                    <label for="project_uri">Project's Name</label>
                    <input id="project_name" name="project_name" ng-model="data.project_name" type="text" class="form-control" ng-trim="true" required />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="onModalSubmit()">OK</button>
            <button class="btn btn-warning" ng-click="onModalCancel()">Cancel</button>
        </div>
    </div>
</script>
