@font-face {
    font-family: 'octicons';
    src: url(../fonts/vendor/octicons.eot?#iefix) format('embedded-opentype'),
        url(../fonts/vendor/octicons.woff) format('woff'),
        url(../fonts/vendor/octicons.ttf) format('truetype'),
        url(../fonts/vendor/octicons.svg#octicons) format('svg');
    font-weight: 400;
    font-style: normal
}