<div class="clearfix">
    <span>Made with <span class="octicon octicon-heart"></span> and JavaScript</span>
    <a href="https://github.com/sixertoy/readmepad" class="pull-right octicon octicon-mark-github"></a>
</div>
