<!--

explorer

-->
<div class="sidebar col-md-3" ng-controller="ExplorerController">

    <h2 class="title col-md-6"><span>Explorer</span></h2>

    <button type="button" class="btn btn-success btn-sm" ng-click="addProject()">Add Project</button>

    <div class="container col-md-12">
        <ul ng-repeat="(key, pages) in projects">
            <li>
                <h5>{{$ldim}}key{{$rdim}}</h5>
                <ul>
                    <li ng-repeat="page in pages">
                        <a href="" ng-click="showPage(page.link)">{{$ldim}}page.name{{$rdim}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<!-- endof explorer -->
