@import url('nice-toggler');
// classic theme colors
@light-grey: #E4E4E4;
@grey: #AFAFAF;
@dark: #1C1C1E;
@blue: #74DDF1;
@menu: #337ab7;
@alert: #FF0000;
@white: #FFFFF8;
@hover: #2D2E30;
@viewer: #F7F7F7;
@divider: #767C7F;
@tooltip: #3C3F41;
// variables
@header-height: 54px;
@footer-height: 40px;
/* -------------------------------------------------------------
 *
 *
 * HTML
 *
 *
 ------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

a {
    outline: none;
    &:hover, &:focus, &:active, &:visited {
        text-decoration: none;
    }
}
/* -------------------------------------------------------------
 *
 *
 * Components
 *
 *
 ------------------------------------------------------------- */

.ace_editor {
    height: 600px;
}
/*
 * bootstrap
 */

.checkbox-inline.right {
    padding-left: 0;
    padding-right: 20px;
}

.btn .caret {
    margin-left: 4px;
}

.ngsb-wrap .ngsb-scrollbar {
    .ngsb-track {
        width: 5px;
        background: @light-grey;
    }
    .ngsb-thumb-pos .ngsb-thumb {
        width: 5px;
        background: @dark;
        border-radius: 2px;
    }
}
/* -------------------------------------------------------------
 *
 *
 * Styles
 *
 *
 ------------------------------------------------------------- */

body {
    color: @dark;
    background: @white;
    font-family: 'OpenSans', 'Arial', 'Verdana', sans-serif;
}

#page {
    height: 100%;
    min-height: 100%;
    position: relative;
    #header {
        z-index: 200;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        position: absolute;
        height: @header-height;
        min-height: @header-height;
        max-height: @header-height;
        padding-top: 12px;
        padding-bottom: 10px;
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.25);
        .logo {
            padding-left: 15px;
        }
        .tools {
            line-height: 32px;
            padding-right: 15px;
            a {
                padding-left: 10px;
            }
        }
    }
    #main {
        z-index: 100;
        left: 0;
        right: 0;
        margin: 0;
        display: flex;
        position: absolute;
        top: @header-height;
        bottom: @footer-height;
    }
    #footer {
        z-index: 300;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        color: @white;
        font-size: 0.8em;
        background: @grey;
        position: absolute;
        text-align: center;
        height: @footer-height;
        max-height: @footer-height;
        min-height: @footer-height;
        > div {
            padding: 12px 15px;
        }
        .octicon {
            color: @alert;
            &.pull-right {
                color: @white;
            }
        }
    }
}

.valid-error {
    color: @grey;
    text-transform: lowercase;
}

.view,
.splitter {
    transition: all 0.25s;
}

.view {
    height: 100%;
    overflow: hidden;
    position: relative;
    &.sidebar {
        z-index: 110;
        width: 0%;
    }
    &.viewer {
        z-index: 120;
        width: 100%;
        background-color: @viewer;
    }
    &.cheatsheet {
        z-index: 130;
        width: 0%;
    }
}

#page #main {
    .splitter {
        z-index: 250;
        top: 0;
        bottom: 0;
        width: 9px;
        height: 100%;
        position: absolute;
        a {
            height: 100%;
            display: block;
            padding-left: 2px;
            position: relative;
            background: #E8E8E8;
            &:before {
                top: 50%;
                color: #BFBFBF;
                font-size: 0.8em;
                position: absolute;
                vertical-align: bottom;
            }
        }
        &.splitter-sidebar {
            left: 0;
        }
        &.splitter-cheatsheet {
            right: 0;
        }
    }
    .has-sidebar & .viewer,
    .has-cheatsheet & .viewer {
        width: 78%;
    }
    .has-sidebar & {
        .sidebar {
            width: 22%;
        }
        .splitter-sidebar {
            left: 22%;
        }
    }
    .has-cheatsheet & {
        .cheatsheet {
            width: 22%;
        }
        .splitter-cheatsheet {
            right: 22%;
        }
    }
    .has-sidebar.has-cheatsheet & {
        .viewer {
            width: 56%;
        }
    }
}

.modal {
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'OpenSans', 'Arial', 'Verdana', sans-serif;
    .btn-group-sm > .btn, .btn-sm {
        border-radius: 0;
    }
    .form-control {
        border-radius: 0;
    }
    &-title {
        line-height: 26px;
        font-weight: bold;
        text-transform: uppercase;
        .mega-octicon {
            font-size: 24px;
            margin-right: 7px;
        }
    }
    &-footer {
        border-top: 0;
        padding: 0 15px 15px 15px;
    }
    &-content {
        border-radius: 0;
        background-color: @viewer;
        input + .valid-error {
            display: block;
            margin-top: 4px;
        }
    }
    &-dialog {
        margin: 160px auto 10px auto;
    }
    &-backdrop.in {
        opacity: 0.7;
    }
}

.popover {
    font-family: 'OpenSans', 'Arial', 'Verdana', sans-serif;
    .title {
        margin-bottom: 17px;
        text-transform: uppercase;
        span {
            float: left;
            width: auto;
            display: block;
            + span {
                float: right;
                color: @grey;
                font-size: 0.5em;
                line-height: 16px;
                font-weight: bolder;
            }
        }
    }
    .tools &.user-popover {
        min-width: 24%;
        top: 38px !important;
        left: 75.8% !important;
        border-radius: 0 0 4px 4px;
        &.bottom > .arrow {
            left: 94%;
        }
        .form-group {
            padding: 0 20px;
            .checkbox-inline.right {
                padding-left: 0;
                padding-right: 10px;
            }
        }
    }
}

.viewer {
    .inner {
        width: 100%;
        height: 100%;
        padding: 0 9px;
        .menu {
            top: 5px;
            right: 14px;
            position: absolute;
            .btn {
                border: 0;
                padding: 4px 8px;
                background-color: rgba(0, 0, 0, 0.25);
                &.active {
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
        .editors {
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            padding-left: 0;
        }
    }
}

.sidebar {
    .menu {
        width: 100%;
        background: @menu;
        > .btn {
            border: 0;
            padding: 10px;
            background: transparent;
        }
        .dropdown-menu {
            font-size: 12px;
            li {
                a{
                    padding-left: 10px;
                    button{
                        border: 0;
                        background: none;
                    }
                    small {
                        color: @grey;
                    }
                    .close {
                        float: left;
                        font-size: 17px;
                        margin-right: 7px;
                        line-height: 1.2em;
                    }
                }
                &:first-child a {
                    padding-left: 25px;
                }
            }
        }
    }
}

.sidebar {
    .explorer {
        left: 0;
        right: 0;
        top: 48px;
        bottom: 10px;
        position: absolute;
        ul.files {
            padding-left: 10px;
            &, ul {
                list-style-type: none;
            }
            ul {
                padding: 0;
                padding-top: 5px;
                margin-left: 7px;
            }
            li {
                font-size: 1em;
                padding-left: 10px;
                margin-bottom: 5px;
                padding-right: 10px;
            }
            > li {
                font-size: 0.85em;
            }
            a {
                width: 100%;
                color: @dark;
                display: block;
                &.folder {
                    color: #A6B9BD;
                    margin-left: -10px;
                    .octicon {
                        width: 8px;
                        &:before {
                            font-size: 0.6em;
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
    }
}
/* -------------------------------------------------------------
 *
 *
 * Dark Theme
 *
 *
 ------------------------------------------------------------- */

.dark {
    // dark theme colors
    @dark: #1C1C1E;
    @blue: #74DDF1;
    @white: #FFFFF8;
    @rouge: #FF0000;
    @hover: #2D2E30;
    @viewer: #2B303B;
    @divider: #767C7F;
    @tooltip: #3C3F41;
    //
    color: @white;
    background-color: #47484B;
    .popover, .dropdown-menu {
        background-color: @tooltip;
        &.bottom > .arrow {
            border-bottom-color: @tooltip;
            &:after {
                border-bottom-color: @tooltip;
            }
        }
    }
    .modal {
        &-content {
            background-color: @tooltip;
        }
    }
    .nice-toggler {
        input {
            + span {
                box-shadow: inset 0 0 0px 1px @divider;
                &:before {
                    background: transparent;
                }
                &:after {
                    background: @divider;
                }
            }
            &:checked {
                + span:before {
                    background: @blue;
                }
                + span:after {
                    box-shadow: inset 0 0 0 1px @blue, 0 2px 4px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    .popover {}
    #page {
        color: @white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
        #header a {
            color: @white;
        }
        #main {
            .sidebar {
                .menu {
                    background: transparent;
                    .btn {
                        border: 0;
                        background: transparent;
                    }
                    &.open {
                        .dropdown-toggle {
                            box-shadow: none;
                        }
                    }
                    .dropdown-menu {
                        .divider {
                            background-color: @divider;
                        }
                        .close,
                        > li > a {
                            color: @white;
                            text-shadow: none;
                        }
                        > li > a:focus,
                        > li > a:hover {
                            color: @blue;
                            background-color: @hover;
                        }
                    }
                }
                ul.files {
                    a {
                        color: @white;
                        &.folder {
                            color: #A6B9BD;
                        }
                    }
                }
            }
            .viewer {
                background-color: @viewer;
                .inner .menu .btn.active {
                    background-color: @blue;
                }
            }
            .splitter a {
                background: #3D3D42;
            }
        }
        #footer {
            background: @dark;
            .octicon {
                color: @alert;
                &.pull-right {
                    color: @blue;
                }
            }
        }
    }
}
