@grey: #E4E4E4;
/* -------------------------------------------------------------
 *
 *
 * HTML
 *
 *
 ------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    min-height: 100%;
}
/* -------------------------------------------------------------
 *
 *
 * Components
 *
 *
 ------------------------------------------------------------- */

.ace_editor {
    height: 600px;
}
/*
 * bootstrap
 */

.btn .caret {
    margin-left: 4px;
}
/* -------------------------------------------------------------
 *
 *
 * Views
 *
 *
 ------------------------------------------------------------- */

.view.sidebar {
    height: 100%;
    .dropdown-menu {
        font-size: 12px;
        li {
            a {
                padding-left: 10px;
                .close {
                    float: left;
                    font-size: 17px;
                    margin-right: 7px;
                    line-height: 1.2em;
                }
                small {
                    color: #4E4E4E;
                }
            }
            &:first-child {
                a {
                    padding-left: 25px;
                }
            }
        }
    }
}

.view.main,
.view.sidebar {
    h1 {
        text-align: center;
        margin-bottom: 40px;
    }
    > .menu {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
