@import url('nice-toggler');
@grey: #E4E4E4;
/* -------------------------------------------------------------
 *
 *
 * HTML
 *
 *
 ------------------------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'OpenSans', 'Arial', 'Verdana', sans-serif;
}

body,
html,
#page {
    height: 100%;
    min-height: 100%;
}
/* -------------------------------------------------------------
 *
 *
 * Components
 *
 *
 ------------------------------------------------------------- */

.ace_editor {
    height: 600px;
}
/*
 * bootstrap
 */

.checkbox-inline.right {
    padding-left: 0;
    padding-right: 20px;
}

.btn .caret {
    margin-left: 4px;
}
/* -------------------------------------------------------------
 *
 *
 * Styles
 *
 *
 ------------------------------------------------------------- */
// classic theme colors
@grey: #AFAFAF;
@dark: #1C1C1E;
@blue: #74DDF1;
@menu: #337ab7;
@rouge: #FF0000;
@white: #FFFFF8;
@hover: #2D2E30;
@viewer: #F7F7F7;
@divider: #767C7F;
@tooltip: #3C3F41;
// variables
@header-height: 54px;
@footer-height: 40px;
#page {
    position: relative;
    #header {
        z-index: 200;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        position: absolute;
        height: @header-height;
        min-height: @header-height;
        max-height: @header-height;
        padding-top: 12px;
        padding-bottom: 10px;
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.25);
        a.octicon {
            &:hover, &:focus, &:active, &:visited {
                text-decoration: none;
            }
        }
        .tools {
            text-align: right;
            line-height: 32px;
            a {
                padding-left: 10px;
            }
        }
    }
    #main {
        z-index: 100;
        left: 0;
        right: 0;
        margin: 0;
        display: flex;
        position: absolute;
        top: @header-height;
        bottom: @footer-height;
        > .row {
            height: 100%;
            min-height: 100%;
        }
    }
    #footer {
        z-index: 300;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        color: @white;
        font-size: 0.8em;
        background: @grey;
        position: absolute;
        text-align: center;
        height: @footer-height;
        max-height: @footer-height;
        min-height: @footer-height;
        > div {
            padding-top: 12px;
            padding-bottom: 12px;
        }
        .octicon {
            color: @rouge;
        }
    }
}

.popover {
    font-family: 'OpenSans', 'Arial', 'Verdana', sans-serif;
    .title {
        margin-bottom: 17px;
        text-transform: uppercase;
        span {
            float: left;
            width: auto;
            display: block;
            + span {
                float: right;
                color: @grey;
                font-size: 0.5em;
                line-height: 16px;
                font-weight: bolder;
            }
        }
    }
    .tools &.user-popover {
        min-width: 300px;
        top: 28px !important;
        left: 66% !important;
        &.bottom > .arrow {
            left: 92%;
        }
        .form-group {
            padding: 0 20px;
            .checkbox-inline.right {
                padding-left: 0;
                padding-right: 10px;
            }
        }
    }
}

.viewer {
    padding-left: 0;
    position: relative;
    background-color: @viewer;
    .menu {
        top: 5px;
        right: 5px;
        position: absolute;
        .btn {
            border: 0;
            padding: 4px 8px;
            background-color: rgba(0, 0, 0, 0.25);
        }
    }
    .editors {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        padding-left: 0;
    }
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
    .menu {
        width: 100%;
        background: @menu;
        .btn {
            border: 0;
            padding: 10px;
            background: transparent;
        }
    }
    .dropdown-menu {
        font-size: 12px;
        li {
            a {
                padding-left: 10px;
                .close {
                    float: left;
                    font-size: 17px;
                    margin-right: 7px;
                    line-height: 1.2em;
                }
                small {
                    color: @grey;
                }
            }
            &:first-child {
                a {
                    padding-left: 25px;
                }
            }
        }
    }
    ul.files {
        padding-left: 10px;
        list-style-type: none;
        a:hover {
            text-decoration: none;
        }
    }
}
/* -------------------------------------------------------------
 *
 *
 * Dark Theme
 *
 *
 ------------------------------------------------------------- */

.dark {
    // dark theme colors
    @dark: #1C1C1E;
    @blue: #74DDF1;
    @white: #FFFFF8;
    @rouge: #FF0000;
    @hover: #2D2E30;
    @viewer: #2B303B;
    @divider: #767C7F;
    @tooltip: #3C3F41;
    //
    color: @white;
    background-color: #47484B;
    .popover, .dropdown-menu {
        background-color: @tooltip;
        &.bottom > .arrow {
            border-bottom-color: @tooltip;
            &:after {
                border-bottom-color: @tooltip;
            }
        }
    }
    .nice-toggler {
        input {
            + span {
                box-shadow: inset 0 0 0px 1px @divider;
                &:before {
                    background: transparent;
                }
                &:after {
                    background: @divider;
                }
            }
            &:checked {
                + span:before {
                    background: @blue;
                }
                + span:after {
                    box-shadow: inset 0 0 0 1px @blue, 0 2px 4px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    #page {
        color: @white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
        #header {
            a {
                color: @white;
            }
        }
        #main {
            .sidebar {
                .menu {
                    background: transparent;
                    border-top: 1px solid #4F5053;
                    .btn {
                        border: 0;
                        background: transparent;
                    }
                    &.open {
                        .dropdown-toggle {
                            box-shadow: none;
                            -webkit-box-shadow: none;
                        }
                    }
                    .dropdown-menu {
                        .divider {
                            background-color: @divider;
                        }
                        .close,
                        > li > a {
                            color: @white;
                            text-shadow: none;
                        }
                        > li > a:focus,
                        > li > a:hover {
                            color: @blue;
                            background-color: @hover;
                        }
                    }
                }
            }
            .viewer {
                background-color: @viewer;
            }
        }
        #footer {
            background: @dark;
            .octicon {
                color: @rouge;
            }
        }
    }
}
